---
#title: "Resources
description: "Here you go!."
date: 2022-01-27
lastmod: 2022-01-27
draft: false

---
<h1>Event Resource Pages</h1> 

<a href="https://ellopunk.com/newcastle">Bsides New Castle</a>
<br>
<br>
<a href="https://ellopunk.com/grrcon">Grrcon</a>
<br>
<br>
<a href="https://ellopunk.com/charlotte)">Bsides Charlotte - Cloud Security for Muggles]</a>
<br>
<br>
<a href="https://ellopunk.com/bsidescharlotte">Bsides Charlotte - The Missing Piece of Cloud Security</a>
<br>
<br>
<a href="https://ellopunk.com/rdu">Bsides RDU</a>
<br>
<br>
<a href="https://ellopunk.com/hackconf">HackConf</a>
<br>
<br>
<a href="https://ellopunk.com/TCS">Texas Cyber Summit</a>
<br>
<br>
<a href="https://ellopunk.com/assumebreach">ISC2- Assume Breach</a>



</p> There have been so many events in the last two years that some things have been lost.
 If you are looking for a resource that is not here, don't hesitate to get in touch with me!  </p>

 <p style="font-size:14px; color:blue; font-weight:bold; text-align: right">
    <a href="../onceuponatime/index.html">Back to previous projects.</a>
    </p>
