---
#title: "Past Events" 
description: "Years of Events"
date: 2022-01-30
lastmod: 2022-01-30
draft: false

---
<style>
    p {font-size: 16px;}
</style>

<h3 id="2019">2019</h3>
<ul>
<li><p><strong>Bsides San Antonio</strong>: <a href="https://youtu.be/AEVHUqD4wUM">Confessions Of A Sysadmin w/ Allie Barnes</a></p>
</li>
<li><p><strong>Linux Spotlight:</strong> <a href="https://youtu.be/FuVX5yJvl1M">EP07 - Ell Marquez</a></p>
</li>
<li><p><strong>Youth Code Jam San Antonio:</strong> Wire Shark 101</p>
</li>
<li><p><strong>Bsides Dallas:</strong> Mentoring 101</p>
</li>
<li><p><strong>Organizer Texas Cyber Summit:</strong> It&#39;s Okay To Be New Track</p>
</li>
<li><p><strong>South California Linux Expo:</strong> Containers 101</p>
</li>
<li><p><strong>Bsides Austin:</strong> Mentorship 101</p>
</li>
<li><p><strong>Texas Linuxfest:</strong></p>
<ul>
<li>Containers 101</li>
<li>Confessions of a Sysadmin</li>
</ul>
</li>
<li><p><strong>San Antonio Developers Meetup:</strong> Mentorship and Goal Setting</p>
</li>
<li><p><strong>Bsides San Antonio:</strong> Confessions of a Sysadmin</p>
</li>
<li><p><strong>The Blind Hacker Charity Stream June 22, 2019:</strong></p>
</li>
<li><p><strong>Diana Initiative:</strong> RAWR panel</p>
</li>
</ul>
<h3 id="2018">2018</h3>
<ul>
<li><strong>DBsides Austin 2018</strong></li>
<li><strong>San Antonio K8s Meetup 2018</strong></li>
<li><strong>San Antonio Bsides 2018</strong></li>
<li><strong>OpenStack Summit Vancouver 2018</strong></li>
<li><strong>Grace Hopper Celebration Houston 2019</strong></li>
<li><strong>OpenStack Summit Berlin 2018</strong></li>
<li><strong>DockerCon EU 2018</strong></li>
</ul>
<h3 id="2016">2016-2017</h3>
<ul>
<li><strong>Texas Linux Fest 2016</strong></li>
<li><strong>Bsides San Antonio 2017</strong></li>
<li><strong>South East Linux Fest 2017:</strong></li>
<li><strong>MailChimp Coffee hour 2017</strong></li>
<li><strong>Grace Hopper Celebration Orlando 2017</strong></li>
<li><strong>OpenStack Summit Sydney 2017</strong></li>
<li><p><strong>Grace Hopper Celebration</strong></p>
<li>OpenStack 101    </li>
</li>
<li><p><strong>Open Stack Summit</strong> </p>
<li>I&#39;m going to be an Openstack Master!: A Hands-On Workshop </li>
<li>OpenStack: A day in the Life of an Admin</li>
<li>How does Neutron do that?: A Hands-On Workshop with Neutron Networking</li>
</ul>
</li>
</ul>
