---
#title: "Past Talks" 
description: "The talks that helped start this journey."
date: 2022-01-27
lastmod: 2022-01-27
draft: false

---
<style>
    p {font-size: 16px;}
</style>

<h1 id="retired-talks-workshops">Retired Talks &amp; Workshops</h1>
<h2 id="containers-what-you-need-to-know-so-you-know-what-you-need-to-know">Containers: What you need to know; so you know what you need to know</h2>
<p>The number one question that someone starting out with container technology always seems to have is &quot;Where do I get started?&quot; While this appears to be a simple question for some, as the quick responses are &quot;Read the docs&quot; or &quot;What questions do you have?&quot; What happens, though, when the docs look like they were written in Greek and you didn&#39;t manage to take that one Greek language elective in high school? Or you simply just don&#39;t know enough to know what you should be asking?
If you have found yourself in this situation, this is the perfect talk to attend. We will go over the basics of container technology by answering the basic questions: who, what, when, where and why.</p>
<h2 id="container-101-getting-up-and-running-with-docker-containers">Container 101 - Getting Up and Running with Docker Containers</h2>
<p><strong>Abstract:</strong> Being new to containers can feel like sitting in front of a firehose and trying to drink all of the water coming at you. Especially here at DockerCon! If you feel that way, no worries! This workshop is for you! In this workshop, we&#39;re going to dive into what containers and images actually are and some best practices around them, how to use volumes and port mappings, and how to run multi-service applications. There will be quite a few hands-on opportunities, as well as training from some of our Docker Captains. You won&#39;t want to miss this! Please note that this workshop will not talk about orchestration or running containers in production (monitoring, logging, etc.), as there are other workshops solely focused on these topics.</p>
<p><a href="https://speakerdeck.com/mikesir87/container-101-getting-up-and-running-with-docker-containers">Slides</a></p>
<h2 id="confessions-of-a-sysadmin">Confessions of a Sysadmin</h2>
<p><strong>Abstract:</strong> Many of us in the technical community have heard the saying RTFM (Read The <em>Friendly</em> Manual) as advice given to someone learning Linux. In Confessions of a Sysadmin, Ell Marquez and Allie Barnes will share a practical approach to learning to navigate the command line along with some of the secrets she has learned along the way.</p>
<p>What can I expect to learn? As members of the tech community we have ALL experienced an awkward moment or two… or five. We’re here to get real and hit a few points that we’ve experienced in our careers, from mansplaining to being told that real admins only use arch we will confess the sins of the Linux world in hopes of inspiring the next generation. Along the way we will tell a few stories that we think you <em>just</em> might be able to relate to...</p>
<p><strong>Note:</strong> This has become a solo talk in mid 2020</p>
<h2 id="creating-a-stronger-community-by-poisoning-your-own-well">Creating a Stronger Community by Poisoning Your Own Well</h2>
<p>Abstract: The technology industry has been rapidly growing for some time and as the industry grew t/here has become a shift in our mind set as we could no longer fill all the roles that were needed. With this came a push to diversify, to bring in new blood and new ideas and in the process of doing so we began to develop a community. Recently the topic of conversation has turned to Imposter syndrome, a feeling of inadequacy that persist despite proof of the contrary, and the solution is being placed on the shoulders of the individual alone. However we are not addressing the whole issue, or even acknowledging that these feelings may be caused by a toxic part of our culture that leads us to break down those we claim to want to build up.</p>
<h2 id="goal-setting-101">Goal Setting 101</h2>
<p>Abstract: (20 min talk) In this short and to the point talk we will work on how to set make our goals and dreams in to real practical SMART goals. Through the use of smart goals can gain the foundation we need to approach mentors, mangers or even face impostor syndrome head o</p>
<h2 id="containers-no-not-your-mamas-tupperwere">Containers: No, Not Your Mamas Tupperwere</h2>
<p><a href="https://www.youtube.com/watch?v=ZHa_qrwdkns">Bsides San Antonio</a>
The technical community is all a buzz about containers but does anyone really know what they are? We will take the journey together , learning about the evolution of containerization technology. Understanding virtualization, Linux containers, and then moving on to cover the basics of Docker and Kubernetes.</p>
<h2 id="i-m-going-to-be-an-openstack-master-a-hands-on-workshop-for-preparing-for-the-coa">I’m going to be an Openstack Master!: A Hands-On Workshop for preparing for the COA</h2>
<p>Many companies that have started adopting Openstack are in desperate need of people who can run their cloud. This workshop is designed to give Openstack users an overview of the skills needed to pass the Openstack Certified Administrator Exam. Attendees will get experience in both the Horizon Dashboard and the CLI.</p>
<h2 id="openstack-a-day-in-the-life-of-an-admin">OpenStack: A Day in the Life of an Admin</h2>
<p>Now that you’re an OpenStack administrator, how do you meet the ever changing needs of your company? This workshop will provide an easy to follow walk through of many of the tasks an OpenStack administrator might be expected to perform using the Horizon interface.  </p>
<p><strong>Problem:</strong></p>
<p>You have been hired as a Linux administrator but what does that really mean? Rackspace Training Summit Workshops are the first to provide large audiences with easily accessible environments, dynamic slide content, and truly effective instruction that takes learning OpenStack to the next level.</p>


<p style="font-size:14px; color:blue; font-weight:bold; text-align: right">
    <a href="../onceuponatime/index.html">Back to previous projects.</a>
    </p>
